/*
https://nicepage.com/ht/3444245/cat-stories-tips-and-tricks-html-template
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #ffff;
    --light-brown: #59504c;
    --dark-brown: #333333;
    --light-grey: #ded9d7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.logo img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.nav-links {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    font-size: 24px;
    color: var(--primary-color);
}

.nav-link a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width 0.3s;
}

.nav-link a:hover::after {
    width: 100%;
}

.welcome-section {
    background-image: url("../images/background_cat.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.welcome-text {
    padding: 48px;
    color: var(--secondary-color);
    text-align: right;
}

.welcome-text p {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.welcome-text h1 {
    font-size: 64px;
    text-transform: uppercase;
}

.about-section {
    text-align: center;
    background: var(--light-grey);
    height: 500px;
}

.about-section h2 {
    font-size: 48px;
    padding-top: 60px;
    margin: 0;
}

.about-section p {
    font-size: 24px;
    padding: 16px;
    width: 50%;
    margin: 24px auto;
}

.cat-container {
    background-color: var(--light-brown);
    height: 100%;
}

.cat-service {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: -150px;
}

.cat-service-item {
    width: 15%;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    background-color: var(--secondary-color);
    z-index: 20;
}

.cat-service-item:nth-child(2) {
    top: 100px;
}

.cat-service-item:nth-child(3) {
    top: 200px;
}


.cat-service-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 14px;
}

.cat-service-item h3 {
    font-size: 34px;
    margin: 20px 0 20px 0;
}

.cat-service-item p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.more-link {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--light-brown);
}

.more-link:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--light-brown);
    transition: .5s;
}

.more-link:hover:after {
    width: 80%;
    background: var(--dark-brown);
}

.bright-section {
    position: relative;
    background-color: var(--light-grey);
    z-index: 10;
    height: 400px;
}

.casual-cat-image {
    width: 100%;
    position: relative;
    top: -250px;
    z-index: 10;
}

.casual-cat-image img {
    max-width: 55%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.cat-blog {
    background-color: #332c29;
    width: 30%;
    padding: 24px;
    color: var(--secondary-color);
    border-radius: 20px;
}

.cat-blog h2 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-blog h4 {
    font-size: 30px;
    margin: 0;
}

.cat-blog-section {
    position: relative;
}

.cat-blog-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    top: -100px;
}


.cat-care {
    padding: 30px;
    background-color: var(--secondary-color);
    width: 35%;
    border-radius: 24px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.cat-care h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 36px;
}

.cat-care ol {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    text-transform: uppercase;
    color: var(--secondary-color);
    background: var(--light-brown);
    border-radius: 20px;
    width: 150px;
    padding: 14px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
    color: var(--primary-color);
    cursor: pointer;
}

.gallery-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: var(--light-brown);
    position: relative;
}

.gallery-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 1fr);
    gap: 40px;
    max-width: 900px;
    width: 70%;
    position: relative;
    top: -200px;
}


.gallery-item {
    text-align: left;
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.gallery-item h3 {
    font-size: 30px;
}

.gallery-item p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    margin-top: 20px;
}

.gallery-item:nth-child(4) {
    padding: 40px 20px 40px 20px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.subscribe-section {
    background: var(--light-brown);
    text-align: center;
    color: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe-section img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 9px solid var(--light-grey);
}

.subscribe-section h2 {
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.subscribe-section input[type="email"] {
    width: 300px;
    padding: 14px;
    margin-bottom: 24px;
    border-radius: 24px;
    border: none;
}

.subscribe-section input[type="button"] {
    width: 150px;
    padding: 14px;
    border-radius: 24px;
    color: var(--secondary-color);
    background: var(--dark-brown);
    text-transform: uppercase;
    border: none;
    opacity: 0.7;
}

.subscribe-section input[type="button"]:hover {
    color: var(--primary-color);
    background: var(--light-grey);
    cursor: pointer;
}

.subscribe-section p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    margin: 0;
}

.cat-tips-container {
    background: var(--light-brown);
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dark-brown-margin {
    height: 200px;
    background: var(--light-brown);
}

.cat-tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 40%;
    gap: 40px;
    position: relative;
    top: 75%;
    left: -15%;
}

.cat-tips-img {
    text-align: center;
    width: 100%;
}

.cat-tips-img img {
    border-radius: 20px;
    max-width: 65%;
    margin: 50px;
}

.cat-tip {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.cat-tip h2 {
    font-size: 20px;
    margin-bottom: 24px;
    color: var(--light-brown);
    text-transform: uppercase;
}

.cat-tip p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.keep-pet-happy-container {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 40px;
}

.keep-pet-happy-container .left-side {
    min-width: 45%;
    max-width: 374px;
}

.keep-pet-happy-container .left-side h2 {
    font-size: 34px;
}

.keep-pet-happy-container .left-side p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    line-height: 2;
}

.keep-pet-happy-container .right-side {
    position: relative;
    top: 100px;
}

.keep-pet-happy-container .right-side img {
    max-width: 374px;
    height: auto;
    border-radius: 50%;
}

.brown-shape {
    width: 374px;
    height: 320px;
    border-radius: 50%;
    background: var(--light-grey);
    position: absolute;
    top: -20%;
    left: 15%;
    z-index: -1;
}

.need-help-container {
    position: relative;
    top: 100px;
    display: flex;
    width: 60%;
    margin: auto;
    gap: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 32px;
    background: var(--secondary-color);
    align-items: center;
}

.need-help-container .left-side {
    width: 50%;
}

.need-help-container .left-side .text {
    font-size: 18px;
    line-height: 2;
    color: var(--light-brown);
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    font-size: 24px;
    color: var(--dark-brown);
    text-decoration: none;
}

.fa:hover {
    color: var(--light-brown);
    cursor: pointer;
}

.need-help-container .right-side {
    width: 50%;
}

.brown-space {
    height: 300px;
    background: var(--light-brown);
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #555;
}


.submit-btn {
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    color: #fff;
    background-color: #4a4a4a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #333;
    opacity: 0.8;
}

.main-footer {
    min-height: 100px;
    background: var(--dark-brown);
    text-align: center;
    color: var(--secondary-color);
    padding: 40px;
}

.main-footer p {
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .cat-service {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .cat-service-item {
        width: 70%;
    }

    .bright-section {
        height: 500px;
    }

    .cat-tips {
        max-width: 65%;
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-items {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(auto, auto);
    }

    .cat-tips-container {
        flex-direction: column;
        align-items: center;
    }

    .cat-blog h2 {
        font-size: 48px;
    }

    .cat-tips {
        left: 0;
    }

    .need-help-container {
        width: 70%;
        flex-direction: column;
        padding: 20px;
    }

    .need-help-container .left-side {
        width: 90%;
        text-align: center;
    }

    .need-help-container .right-side {
        width: 90%;
    }

    .social-icons {
        justify-content: center;
    }

}

@media screen and (max-width: 996px) {

    .nav-link a {
        font-size: 20px;
    }

    .keep-pet-happy-container .right-side {
        max-width: 90%;
    }

    .about-section p {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .about-section {
        height: 600px;
    }

    .cat-blog-container {
        flex-direction: column;
        align-items: center;
        top: 50px;
    }

    .keep-pet-happy-container .left-side {
        max-width: 100%;
    }

    .cat-blog, .cat-care {
        width: 70%;
    }

    .subscribe-section {
        padding: 30px;
    }


    .custom-form {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}

@media screen and  (max-width: 576px) {

    .keep-pet-happy-container .right-side img {
        width: 220px;
        height: auto;
    }

    .brown-shape {
        width: 220px;
        height: 190px;
    }
}